.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 5 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}
LineChart
{
	-fx-background: transparent;
    -fx-display: none;
}
.axis {
    -fx-border-color: #2b2f3b;
} 
/* .chart{
	width: 100px;
    height:100px;
} */
/* .default-color0.chart-series-line { -fx-stroke: DARKGREEN; } */